.full-width{
  max-width: 100% !important;
}
.thePosts {
  position: relative;
  left: 20%;
  right: 30%;
  background: #ced4da;
}

.latestComments{
  position: absolute;
  right: 5%;
  left: 70%;
  top: 15%;
  width: 30%;
}
@media all and (max-width: 640px){
  .latestComments{
    display: none;
  }
  .thePosts{
    position: relative;
    left: 0;
    right: 0;
    max-width: 100%;
  }
}
@media all and (max-height: 640px){
  .latestComments{
    top: 100px;
  }
}
@media all and (min-width: 640px) and (max-width: 1028px){
  .thePosts{
    left: 0;
  }
  .latestComments{
    left: 50%;
  }
}
