<div *ngIf="!forUserProfile && !forLatestComment">
  <div *ngIf="page > 1">
    <a routerLink="/posts/{{page - 1}}" class="btn btn-secondary">Previous page</a>
  </div>
  <div *ngIf="page < (posts$ | async).length / 10">
    <a routerLink="/posts/{{page + 1}}" class="btn btn-secondary">Next page</a>
  </div>
  <div class="container full-width" class="thePosts col-5">
    <div class="row">
      <div class="col-5">
        <h2>The posts</h2>
        <ng-container *ngFor="let post of posts$ | async">
          <div *ngIf="post.id >= page*10-9 && post.id <= page*10">
            <div class="card" style="width: 250%">
              <div class="card-body">
                <h5 class="card-title">{{post?.title}}</h5>
                <p class="card-text">{{post?.id}}</p>
              </div>
            </div>
            <ng-container *ngFor="let user of users$ | async">
              <div *ngIf="user?.id == post?.userId">
                <a routerLink="/posts/post/{{post?.id}}" class="btn btn-primary">Read post</a>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="page > 1">
    <a routerLink="/posts/{{page - 1}}" class="btn btn-secondary">Previous page</a>
  </div>
  <div *ngIf="page < (posts$ | async).length / 10">
    <a routerLink="/posts/{{page + 1}}" class="btn btn-secondary">Next page</a>
  </div>
  <div class="latestComments">
    <app-latestcomments></app-latestcomments>
  </div>
</div>
<div *ngIf="forUserProfile">
  <ng-container *ngFor="let post of posts$ | async">
    <div *ngIf="post.userId == forUserProfile">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{post?.title}}</h5>
          <p class="card-text">{{post?.id}}</p>
        </div>
      </div>
      <ng-container *ngFor="let user of users$ | async">
        <div *ngIf="user?.id == post?.userId">
          <a routerLink="/posts/post/{{post?.id}}" class="btn btn-primary">Read post</a>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div *ngIf="forLatestComment">
  <ng-container *ngFor="let post of posts$ | async">
    <div *ngIf="post.id == forLatestComment">
      View the post:
      <a routerLink="/posts/post/{{post.id}}">{{post?.title}}</a>
    </div>
  </ng-container>
</div>
