<div class="container full-width">
  <div class="row full-width">

    <div class="col-4">
      <h2>The users</h2>
      <ng-container *ngFor="let subUser of notDeletedUsers | async">
        <div class="userCard" style="width: 18rem;">
          <div class="col-6">
            <div class="userCard-body">
              <h5 class="card-title">username: {{subUser?.user?.username}}</h5>
              <p class="card-text">id: {{subUser?.user?.id}}</p>
              <a (click)="onSelect(subUser?.user)" class="btn btn-primary">Data of user</a>
              <a (click)="delete(subUser?.user?.id)" class="btn btn-primary">Delete user</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="col-7">
      <app-user-detail [user]="selectedUser">
      </app-user-detail>
    </div>

  </div>
</div>
