<div class="forBackground">
<div class="navBarTop">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Home</a>
    <div class="header" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/posts/1">Posts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users">Users</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet>
</router-outlet>
</div>
<footer class="site-footer">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Home</a>
    <div class="header" id="navigationBarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/posts/1">Posts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users">Users</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
