.full-width{
  max-width: 100%;
}
.thePost{
  right: 20%;
  left: 17%;
  background: #ced4da;
}
.card{
  max-width: 60%;
  height: 20%;
  left: 20%;
  right: 20%;
}
.latestComments{
  right: 5%;
  left: 30%;
  top: 0;
  max-width: 20%;
}
@media all and (max-width: 640px){
  .latestComments{
    display: none;
  }
  .thePost{
    right: 0;
    left: 0;
    max-width: 100%;
  }
  h2{
    font-size: small;
    font-weight: bold;
  }
}
@media all and (max-height: 640px){
  .latestComments{
    top: 100px;
  }
}
@media all and (min-width: 640px) and (max-width: 970px){
  .thePost{
    left: 0;
  }
  .latestComments{
    right: 0;
    left: 360px;
  }
}
