.full-width{
  max-width: 100%;
}
.thePost{
  right: 20%;
  left: 25%;
  background: #6c757d;
}
.latestComments{
  position: absolute;
  right: 5%;
  left: 70%;
  top: 15%;
}
@media all and (max-width: 640px){
  .latestComments{
    display: none;
  }
  .thePost{
    right: 10px;
    left: 0;
    max-width: 80%;
  }
  h2{
    font-size: small;
  }
}
@media all and (max-height: 640px){
  .latestComments{
    top: 100px;
  }
}
@media all and (min-width: 640px) and (max-width: 970px){
  .thePost{
    left: 0;
  }
  .latestComments{
    position: absolute;
    right: 0;
    left: 360px;
  }
}
